<div>
    <label for="number">Number</label>
    <input type="text" id="number" placeholder="Card number"></input>
    
    <label for="type">Type</label>
    <select id="type">
    	<option value="Visa">Visa</option>
    	<option value="MasterCard">MasterCard</option>
    </select>
    
    <label for="expire-month">Expire month</label>
    <select id="expire-month">
    	<option value="1">January</option>
    	<option value="2">February</option>
    	<option value="3">March</option>
    	<option value="4">April</option>
    	<option value="5">May</option>
    	<option value="6">June</option>
    	<option value="7">July</option>
    	<option value="8">August</option>
    	<option value="9">September</option>
    	<option value="10">October</option>
    	<option value="11">November</option>
    	<option value="12">December</option>
    </select>
    
    <label for="expire-year">Expire year</label>
    <input type="text" id="expire-year" placeholder="Expire year"></input>
    <label for="cvv2">Card verification value</label>
    <input type="text" id="cvv2" placeholder="Card verification value"></input>
<div>
