
<div class="fluid-row" id="store-search">
    <form class="form form-horizontal">
        <input type="text" id="text-search" placeholder="Search" />
        <input type="button" class="btn btn-blue" id="search" value="Search" />
        <input type="button" class="btn btn-classic" id="all" value="View all" />
        <!--<div class="space clear"></div>
        <input type="button" class="btn btn-classic" id="advanced-search" value="Advanced search" />-->
        <!-- The advanced search will be implemented in next release -->
    </form>
</div>
<div class="clear space" />
<div class="row-fluid" id="store-container">
    <div id="container-rated-newest">
        <h2>Top rated</h2>
        <div id="top-rated-container">
        </div>
        <h2>Newest</h2>
        <div id="newest-container">
        </div>
    </div>
</div>
