<div class="fluid-row" id="store-search">
    <form class="form form-horizontal">
        <input type="text" id="text-search" placeholder="Search" />
        <input type="button" class="btn btn-blue" id="search" value="Search" />
        <input type="button" class="btn btn-basic" id="all" value="View all" />
    </form>
</div>
<div class="clear space" />
<div class="row-fluid" id="store-container">
    <div id="container-rated-newest">
        <h1 class="home-pg-title">Top rated</h1>
        <div id="top-rated-container">
        </div>
        <div class="space clear" />
        <h1 class="home-pg-title clear">Latest</h1>
        <div id="newest-container">
        </div>
    </div>
</div>
