<div class="left-menu-header">
<!--<span>Home</span>-->
<i class="icon-remove"></i>
</div>
<ul class="no-bullet store-menu">
    <li><div id="serv-icon" class="menu-icon"><i class="icon-gears"></i></div><span id="serv-text">Services</span></li>
    <li><div id="data-icon" class="menu-icon"><i class="icon-hdd"></i></div><span id="data-text">Datasets</span></li>
    <li><div id="widget-icon" class="menu-icon"><i class="icon-puzzle-piece "></i></div><span id="widget-text">Widgets/Mashups</span></li>
</ul>
<ul class="no-bullet store-sub-menu">
    <li><i class="icon-folder-open-alt"></i><a href="/catalogue">My Offerings</a></li>
    {% if not oil %}
    <li><i class="icon-group"></i><a href="/organization">Organizations</a></li>
    {% endif %}
</ul>