
<div class="store-menu-container">
<ul class="no-bullet store-menu">
    <li><div id="menu-first-icon" class="menu-icon"><i class="icon-gears"></i></div><span id="menu-first-text">Services</span></li>
    <li><div id="menu-second-icon" class="menu-icon"><i class="icon-hdd"></i></div><span id="menu-second-text">Data</span></li>
    <li><div id="menu-third-icon" class="menu-icon"><i class="icon-puzzle-piece "></i></div><span id="menu-third-text">Widgets/Mashups</span></li>
</ul>
<ul class="no-bullet store-sub-menu">
    <li><i class="icon-folder-open-alt"></i><a href="/catalogue">My Offerings</a></li>
    {% if not oil %}
    <li><i class="icon-group"></i><a href="/organization">Organizations</a></li>
    {% endif %}
</ul>
</div>
<div class="close-btn">
    <i class="icon-caret-left"></i>
</div>