{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>FI-WARE Store</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/aplication.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/docs.css" />
        <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/js/google-code-prettify/prettify.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/store/core.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/store/admin.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/fonts/fonts.css" />

        <script type="text/x-jquery-tmpl" id="footer_template">{% include "footer_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="user_conf_template">{% include "user_conf_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="user_info_conf_template">{% include "user_info_conf_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="org_info_conf_template">{% include "org_info_conf_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="address_conf_template">{% include "address_conf_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="payment_info_conf_template">{% include "payment_info_conf_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="expenditure_conf_template">{% include "expenditure_conf_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="user_info_form_template">{% include "user_info_form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="org_info_form_template">{% include "org_info_form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="address_conf_form_template">{% include "address_conf_form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="payment_info_form_template">{% include "payment_info_form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="expenditure_conf_form_template">{% include "expenditure_conf_form_template.html" %}</script>

        <script type="text/x-jquery-tmpl" id="admin_elem_template">{% include "admin/admin_elem_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="list_template">{% include "admin/list_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="element_template">{% include "admin/element_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="form_template">{% include "admin/form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="user_form_template">{% include "admin/user_form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="organization_form_template">{% include "admin/organization_form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="unit_form_template">{% include "admin/unit_form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="currency_form_template">{% include "admin/currency_form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="modal_template">{% include "modal_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="alert_error_template">{% include "alert_error_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="alert_info_template">{% include "alert_info_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="orgs_users_template">{% include "admin/orgs_users_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="rss_form_template">{% include "admin/rss_form_template.html" %}</script>
        {% if oil and portal %}
            <script src="{{ account }}assets/signOut.js" type="text/javascript"></script>
        {% endif %}
        {% if portal %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}oil/css/wstore/wstore.css" />
        {% endif %}

	    <script type="text/javascript">
            USERNAME = "{{ user.username }}";
            INITIAL_PAGE = "admin";
            // USERROLES = {{ roles }};
        </script>
        <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.tmpl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/EndpointManager.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/MessageManager.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/Client.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/admin/AdminForm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/UserProfile.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/OrganizationProfile.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/ModalForm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/UserConfiguration.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/admin/OrganizationUsersForm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/admin/OrganizationForm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/admin/AdminView.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/admin/UserForm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/admin/UnitsForm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/admin/RssForm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/admin/CurrencyForm.js"></script>

        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/admin/EndpointForm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/admin/PageManager.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/Loader.js"></script>
        {% include "oil/header_imports.html" %}
    </head>
    <body>
        <div id="oil-bar">
        {% include "oil/header.html" %}
        </div>
        <div class="container-fluid bread-container">
            <div id="options-bar">
            </div>
            <a id="back" class="btn btn-blue return-button"><i class="icon-arrow-left"></i></a>
        </div>
        <div class="container-fluid" >
            <div class="row-fluid">
                <div id="message-container"></div>
            </div>
            <div class="row">
                <div class="admin-element">
                    <div id="admin-container">
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div id="loading" class="hide"></div>
        {% include "footer_template.html" %}
    </body>
</html>
