<div class="row row-fluid">
<form class="form form-horizontal admin-form">
    <div id="admin-err-cont" /> 
    <h2>Currency</h2>
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="currency-name">Currecy</label>
            <div class="controls">
                <input type="text" id="currency-name" placeholder="Currency" \>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="is-default">Default currency</label>
            <div class="controls">
                <input type="checkbox" id="is-default" \> Default currency
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
	            <input type="button" class="btn btn-blue" id="elem-submit" value="Register" \>
	        </div>
	    <div>
	</fieldset>
</form>
</div>