
<a id="back">Return</a>
<form class="form form-horizontal admin-form">
    <fieldset>
    <h2>${title}</h2>
    <div class="control-group">
        <label class="control-label" for="elem-name">Name</label>
        <div class="controls">
            <input type="text" class="input" id="elem-name" placeholder="Name"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="elem-host">Host</label>
        <div class="controls">
            <input type="text" class="input" id="elem-host" placeholder="Host"/>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <div class="btn btn-blue" id="request-button">Register</div>
        </div>
    </div>
  </fieldset>
</form>
