    
<a id="back">Return</a>
<div class="row row-fluid">
<form class="form form-vertical admin-form double-column">
    <div id="admin-err-cont" />
    <h2>Organization</h2>
    <fieldset>
    <section class="span4">
        <div class="control-group">
	    <label class="control-label" for="org-name">Name</label>
	    <div class="controls">
		<input type="text" id="org-name" placeholder="Organization name" />
	    </div><!-- /.controls -->
	</div><!-- /.control-group -->
	<div class="control-group">
	    <label class="control-label" for="notify-url">Notification URL</label>
	    <div class="controls">
		<input type="text" id="notify-url" placeholder="Notification URL" />
	    </div><!-- /.controls -->
	</div><!-- /.control-group -->
    </section>
    <section>
	<input type="button" class="btn btn-blue hide" id="org-user-btn" value="Add user" />
    </section>

    <div class="space clear"/>
    <div class="line clear"/>
    
    <section class="span4" style="margin-left: 0px;">
        <h3>Credit card</h3>
	<div class="control-group">
	    <label class="control-label" for="type">Type</label>
	    <div class="controls">
		<select id=type class="credit-select">
		    <option value="0">------</option>
		    <option value="Visa">Visa</option>
		    <option value="MasterCard">MasterCard</option>
		</select>
	    </div><!-- /.controls -->
	</div><!-- /.control-group -->
	<div class="control-group">
	    <label class="control-label" for="number">Number</label>
	    <div class="controls">
		<input type="text" class="input credit-input" id="number" placeholder="Number" />
	    </div><!-- /.controls -->
	</div><!-- /.control-group -->
	<div class="control-group">
	    <label class="control-label" for="expire-month">Expire month</label>
	    <div class="controls">
		<select id="expire-month" class="credit-select">
		    <option value="0">------</option>
		    <option value="1">January</option>
		    <option value="2">February</option>
		    <option value="3">March</option>
		    <option value="4">April</option>
		    <option value="5">May</option>
		    <option value="6">June</option>
		    <option value="7">July</option>
		    <option value="8">August</option>
		    <option value="9">September</option>
		    <option value="10">October</option>
		    <option value="11">November</option>
		    <option value="12">December</option>
		</select>
	    </div><!-- /.controls -->
	</div><!-- /.control-group -->
	<div class="control-group">
	    <label class="control-label" for="expire-year">Expire year</label>
	    <div class="controls">
		<input type="text" class="input credit-input" id="expire-year" placeholder="Expire year" />
	    </div><!-- /.controls -->
	</div><!-- /.control-group -->
	<div class="control-group">
	    <label class="control-label" for="cvv2">cvv2</label>
	    <div class="controls">
		<input type="text" class="input credit-input" id="cvv2" placeholder="cvv2" />
	    </div><!-- /.controls -->
	</div><!-- /.control-group -->
    </section>
    <section class="span1"></section>
    <section class="span4">
	<h3>Tax address</h3>
	<div class="control-group">
	    <label class="control-label" for="street">Street</label>
	    <div class="controls">
		<input type="text" class="input addr-input" id="street" placeholder="Street" />
	    </div><!-- /.controls -->
	</div><!-- /.control-group -->
	<div class="control-group">
	    <label class="control-label" for="postal">Postal code</label>
	    <div class="controls">
		<input type="text" class="input addr-input" id="postal" placeholder="Postal" />
	    </div><!-- /.controls -->
	</div><!-- /.control-group -->
	<div class="control-group">
	    <label class="control-label" for="city">City</label>
	    <div class="controls">
		<input type="text" class="input addr-input" id="city" placeholder="City" />
	    </div><!-- /.controls -->
	</div><!-- /.control-group -->
	<div class="control-group">
	    <label class="control-label" for="country">Country</label>
	    <div class="controls">
		<input type="text" class="input addr-input" id="country" placeholder="Country" />
	    </div><!-- /.controls -->
	</div><!-- /.control-group -->
    </section>
    <div class="space clear"/>
    <div class="line clear"/>
    <div class="control-group">
	<div class="controls">
	    <div class="space clear"></div>
	    <input type="button" class="btn btn-blue" id="elem-submit" value="Register" />
	</div><!-- /.controls -->
    </div><!-- /.control-group -->
    </fieldset>
</form>
</div>