
<div class="row row-fluid">
<form class="form form-horizontal admin-form">
    <div id="admin-err-cont" />
    <fieldset>
    <h2>${title}</h2>
    <div class="control-group">
        <label class="control-label" for="elem-name">Name</label>
        <div class="controls">
            <input type="text" class="input" id="elem-name" placeholder="Name"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="elem-host">Host</label>
        <div class="controls">
            <input type="text" class="input" id="elem-host" placeholder="Host"/>
        </div>
    </div>
    <div id="is-default-group" class="control-group hide">
        <label class="control-label" for="elem-host">Is Default</label>
        <div class="controls">
            <input type="checkbox" class="input" id="is-default"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="elem-host">Offerings Collection</label>
        <div class="controls">
            <input type="text" class="input" id="offering-collection" placeholder="Offerings Collection"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="elem-host">Resources Collection</label>
        <div class="controls">
            <input type="text" class="input" id="resource-collection" placeholder="Resources Collection"/>
        </div>
    </div>
    <div class="control-group" id="api-version-grp">
        <label class="control-label" for="elem-host">API Version</label>
        <div class="controls">
            <select id="api-version">
                <option value="1">Version 1</option>
                <option value="2">Version 2</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <div class="btn btn-blue" id="elem-submit">Register</div>
        </div>
    </div>
  </fieldset>
</form>
</div>
