
<div class="row row-fluid">
<form class="form admin-form double-column-small">
    <div id="admin-err-cont" />
    <h2>RSS</h2>
    <fieldset>
        <section class="span6">
            <div class="control-group">
                <label class="control-label" for="rss-name">Basic info</label>
                <div class="controls">
                    <input type="text" id="rss-name" placeholder="Name" \>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="rss-endpoint" placeholder="Endpoint" \>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="rss-version">API Version</label>
                <div class="controls">
                    <select id="rss-version">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="single-paymente">Default Revenue Models (%) <small style="color: #999;">(optional)</small></label>
                <div class="controls">
                    <input type="text" id="single-payment" placeholder="Single payment model"></input>
                    <div class="space"></div>
                    <input type="text" id="subscription" placeholder="Subscriptions model"></input>
                    <div class="space"></div>
                    <input type="text" id="use" placeholder="Usage model"></input>
                </div> 
            </div>
        </section>

        <section class="span6" style="float:right;">
            <div class="control-group">
                <label class="control-label" for="transaction">Default expenditure limits <small style="color: #999;">(optional)</small></label>
                <div class="controls">
                    <input type="text" id="perTransaction" placeholder="Per transaction" \>
                    <div class="space"></div>
                    <input type="text" id="daily" placeholder="Daily" \>
                    <div class="space clear"></div>
                    <input type="text" id="weekly" placeholder="Weekly" \>
                    <div class="space clear"></div>
                    <input type="text" id="monthly" placeholder="Monthly" \>
                    <div class="space clear"></div>
                    <select id="currency">
                    </select>
                </div>
            </div>
        </section>

        <div class="line clear"></div>
        <div class="space clear"></div>

        <div class="control-group">
            <div class="controls" style="text-align: center;">
                <input type="button" class="btn btn-blue" id="elem-submit" value="Register" \>
            </div>
        </div>
    </fieldset>
</form>
</div>