
<a id="back">Return</a>
<form class="form form-vertical">
    <h2>Unit</h2>
    <label>Name</label>
    <input type="text" id="unit-name" placeholder="Name" \>
    <label>Defined Pricing Model</label>
    <select id="defined-model">
        <option value="single payment">Single payment</option>
        <option value="subscription">Subscription</option>
        <option value="pay per use">Pay-per-use</option>
    </select>
    <label class="hide">Renovation Period</label>
    <input type="text" class="hide" id="ren-period" placeholder="Renovation period" \>
	<div class="space clear"></div>
	<input type="button" class="btn btn-blue" id="elem-submit" value="Register" \>
</form>