
<a id="back">Return</a>
<form class="form form-vertical">
    <fieldset>
    <h2 id="user-title">User profile</h2>
    <div class="control-group">
    <section class="span4">
        <h3>User Info</h3>
        <label class="control-label" for="user-name">User Name</label>
        <div class="controls">
            <input type="text" class="input" id="user-name" placeholder="User Name"/>
        </div>
        <label class="control-label" for="first-name">First name</label>
        <div class="controls">
            <input type="text" class="input" id="first-name" placeholder="First name"/>
        </div>
        <label class="control-label" for="last-name">Last name</label>
        <div class="controls">
            <input type="text" class="input" id="last-name" placeholder="Last name"/>
        </div>
        <div id="passwd">
        </div>
    </section>
    <section>
        <h3>Roles</h3>
        <label class="checkbox">
            <input type="checkbox" class="input" id="provider"/>
            Provider
        </label>
        <label class="checkbox">
            <input type="checkbox" class="input" id="admin"/>
            Admin
        </label>
        <h3>Organization</h3>
        <select id="organization">
        </select>
    </section>
    <div class="space clear"/>
    <div class="line clear"/>
    <section class="span4">
        <h3>Credit card</h3>
        <label class="control-label" for="type">Type</label>
        <select id=type>
            <option value="0">------</option>
            <option value="Visa">Visa</option>
            <option value="MasterCard">MasterCard</option>
        </select>
        <label class="control-label" for="number">Number</label>
        <div class="controls">
            <input type="text" class="input credit-input" id="number" placeholder="Number"/>
        </div>
        <label for="expire-month">Expire month</label>
        <select id="expire-month">
            <option value="0">------</option>
    	    <option value="1">January</option>
    	    <option value="2">February</option>
    	    <option value="3">March</option>
    	    <option value="4">April</option>
    	    <option value="5">May</option>
    	    <option value="6">June</option>
    	    <option value="7">July</option>
    	    <option value="8">August</option>
    	    <option value="9">September</option>
    	    <option value="10">October</option>
    	    <option value="11">November</option>
    	    <option value="12">December</option>
        </select>
        <label class="control-label" for="expire-year">Expire year</label>
        <div class="controls">
            <input type="text" class="input credit-input" id="expire-year" placeholder="Expire year"/>
        </div>
    </section>
    <section>
        <h3>Tax address</h3>
        <label class="control-label" for="street">Street</label>
        <div class="controls">
            <input type="text" class="input addr-input" id="street" placeholder="Street"/>
        </div>
        <label class="control-label" for="postal">Postal code</label>
        <div class="controls">
            <input type="text" class="input addr-input" id="postal" placeholder="Postal"/>
        </div>
        <label class="control-label" for="city">City</label>
        <div class="controls">
            <input type="text" class="input addr-input" id="city" placeholder="City"/>
        </div>
        <label class="control-label" for="country">Country</label>
        <div class="controls">
            <input type="text" class="input addr-input" id="country" placeholder="Country"/>
        </div>
    </section>
    </div>
    <div class="space clear"/>
    <div class="line clear"/>
    <div class="btn btn-blue" id="user-submit">Register</div>
  </fieldset>
</form>
