<div>
    <h2>Tax address</h2>
    <p class="inline"><b>Street: </b></p>
    <p class="inline">${street}</p>
    <div class="clear space"></div>
    <p class="inline"><b>Postal code: </b></p>
    <p class="inline">${postal}</p>
    <div class="clear space"></div>
    <p class="inline"><b>City: </b></p>
    <p class="inline">${city}</p>
    <div class="clear space"></div>
    <p class="inline"><b>Province/State: </b></p>
    <p class="inline">${province}</p>
    <div class="clear space"></div>
    <p class="inline"><b>Country: </b></p>
    <p class="inline">${country}</p>
</div>