
<h2>Tax address</h2>
<form class="form">
    <p><b>Street: </b></p>
    <input type="text" id="street" class="tax-input" placeholder="Street" value="${street}"></input>
    <p><b>Postal code: </b></p>
    <input type="text" id="postal" class="tax-input" placeholder="Postal code" value="${postal}"></input>
    <p><b>City: </b></p>
    <input type="text" id="city" class="tax-input" placeholder="City" value="${city}"></input>
    <p><b>Country: </b></p>
    <input type="text" id="country" class="tax-input" placeholder="Country" value="${country}"></input>
</form>