
<h2>Expenditure limits</h2>
<form class="form">
    <p><b>Per transaction: </b></p>
    <input type="text" id="perTransaction"  placeholder="Per transaction" value="${perTransaction}"></input>
    <p><b>Daily: </b></p>
    <input type="text" id="daily"  placeholder="Daily" value="${daily}"></input>
    <p><b>Weekly: </b></p>
    <input type="text" id="weekly"  placeholder="Weekly" value="${weekly}"></input>
    <p><b>Monthly: </b></p>
    <input type="text" id="monthly"  placeholder="Monthly" value="${monthly}"></input>
</form>