<footer>
    <div>
       2014 &#169;
       <a href="http://fi-ware.org/">FIWARE</a>
       The use of FIWARE Lab services is subject to the acceptance of
       <a href="http://forge.fi-ware.org/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Terms_and_Conditions">Terms and conditions</a>
       ,
       <a href="http://forge.fi-ware.org/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Personal_Data_Protection_Policy">Personal Data Protection Policy</a>
       and
       <a href="https://forge.fi-ware.org/plugins/mediawiki/wiki/fiware/index.php/Cookies_Policy_FIWARE_Lab">Cookies Policy</a>
   </div>
</footer>