
<h2>User Info</h2>
<form class="form">
    <p><b>User name: </b></p>
    <input type="text" id="user-name" placeholder="User name" readonly value="${username}"></input>
    <p><b>Complete name: </b></p>
    <input type="text" id="complete-name" placeholder="First name" readonly value="${complete_name}"></input>
    <p><b>Roles: </b></p>
    {% if user.is_staff %}
    <input type="checkbox" id="admin" disabled></input>Admin
    <div class="clear space"></div>
    {% endif %}
    <input type="checkbox" id="provider" disabled></input>Provider
</form>