<div>
    <div id="main-info">
        <h2>User Info</h2>
        <p class="inline"><b>User name: </b></p>
        <p class="inline">${username}</p>
        <div class="clear space"></div>
        <p class="inline"><b>Fist name: </b></p>
        <p class="inline">${first_name}</p>
        <div class="clear space"></div>
        <p class="inline"><b>Last name: </b></p>
        <p class="inline">${last_name}</p>
        <div class="clear space"></div>
        <p class="inline"><b>Roles: </b></p>
        <p class="inline">${roles}</p>
    </div>
    <div id="org-info">
        <div class="clear space"></div>
        <div class="clear line"></div>
        <div class="clear space"></div>
        <p class="inline"><b>Organization: </b></p>
        <p id="org-name" class="inline">${organization}</p>
    </div>
</div>