<div>
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#userinfo-tab" data-toggle="tab">Profile info</a>
            </li>
            <li>
                <a href="#taxaddr-tab" data-toggle="tab">Tax address</a>
            </li>
            <li>
                <a href="#paymentinfo-tab" data-toggle="tab">Payment info</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="userinfo-tab">
            <div id="purchased-content">
            </div>
        </div>
        <div class="tab-pane" id="taxaddr-tab">
            <div id="provided-content">
            </div>
        </div>
        <div class="tab-pane" id="paymentinfo-tab">
            <div id="provided-content">
            </div>
        </div>
    </div>
</div>