
.title_wrapper {
    font-family: "Open Sans";
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(237, 237, 237, 0.85) 50%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255, 255, 255, 0)), color-stop(50%,rgba(237, 237, 237, 0.85)), color-stop(100%,rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    font-size: 30px;
    width: 75%;
    float: right;
    font-weight: normal;
    color: rgb(102, 102, 102);
    padding: 23px;
    margin-top: -36px;
    position: relative;
    top: 10px;
}

.store_title {
    margin-left: 10px !important;
}

.float-right {
    float: right !important;
}

.admin-element {
    margin-top: 100px;
}

.catalogue-elem {
    margin-top: 50px;
}

.tab-content {
    padding: 5px;
}
.menu-offering {
    text-align: left;
    border: 1px solid rgb(205, 206, 209);
    border-radius: 6px;
    width: 360px;
    height: 320px;
    padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px;
    transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s; /* Firefox 4 */
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s; /* Safari and Chrome */
}

.menu-offering:hover {
    background-color: rgb(237, 237, 237);
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.menu-offering img {
    width: 170px;
    height: 80px;
    background: white;
    border-radius: 4px;
    display: inline;
}

.menu-offering-row {
    position: relative;
    float:left;
    margin-top: 10px;
    margin-left: 10px;
}

.offering-meta {
    position: absolute;
    top: 15px;
    left: 250px;
    width: 95px;
}

.offering-meta i{
    font-size: 20px;
}

.details-title {
    font-size: 30px;
    margin-left: 30px;
}
.main-info {
    width: 75%;
    background-color: rgb(246, 246, 244);
    border-color: rgb(205, 206, 209);
}

.main-info img {
    width: 170px;
    height: 80px;
    margin: 10px;
    border: 1px solid rgb(205, 206, 209);
    border-radius: 4px;
}

.main-info i {
    font-size: 20px;
    margin: -4px;
}

.details-icons {
    text-align: center;
    margin-top: 10px;
}

.details-button {
    position: relative;
    left: 29%;
    margin-top: 10px;
}

#back {
    position: absolute;
    right: 20px;
}
