{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Fi-ware Store</title>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/aplication.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/docs.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/js/google-code-prettify/prettify.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/store/core.css" />

        <link href="http://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.tmpl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}fiware_store/js/EndpointManager.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}fiware_store/js/MessageManager.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}fiware_store/js/admin/AdminView.js"></script>
       
        <script type="text/x-jquery-tmpl" id="admin_elem_template">{% include "admin/admin_elem_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="list_template">{% include "admin/list_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="element_template">{% include "admin/element_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="form_template">{% include "admin/form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="modal_template">{% include "modal_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="alert_error_template">{% include "alert_error_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="alert_info_template">{% include "alert_info_template.html" %}</script>

    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div>
                    <img id="logo" src="{{ STATIC_URL }}assets/img/logo.png" />
                </div>
                <div class="store_title">
                    <h1>Fi-ware</h1>
                    <h2>W-Store</h2>
                </div>
                <div class="navigation">
                    <ul class="nav nav-pills main-menu">
                        <li ><a href="/">Home</a>
                        </li>
                        <li ><a href="/catalogue">Catalogue</a>
                        </li>
                        <li class="active">
                            <a href="#">Administration</a>
                        </li>
                    </ul>
                    <div class="btn btn-success float-right dropdown">
                        <div href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user icon-white"></i>
                            {{ user.username }}
                            <b class="caret"></b>
                        </div>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row-fluid title_wrapper">
                Administration
            </div>
        </div>
        <div class="container-fluid" >
            <div class="row">
                <div id="message-container"></div>
            </div>
            <div class="row">
                <div class="span8 admin-element" id="admin-container">
                </div>
            </div>
            </div>
        </div>
    </body>
</html>
