<table class="table table-striped" id="element-table">
    <thead>
        <tr>
            <th>Elements</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="show-markets"> Marketplaces </td>
            <td>
                <i class="icon-plus add-market"></i>
            </td>
       </tr>
       <tr>
           <td class="show-rep"> Repositories </td>
           <td>
               <i class="icon-plus add-rep"></i>
           </td>
       </tr>
    </tbody>
</table>
