<table class="table table-striped" id="element-table">
    <thead>
        <tr>
            <th>Elements</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="show-markets"> Marketplaces </td>
            <td>
                <div class="add-market">
                    <i class="icon-plus"></i>
                </div>
            </td>
       </tr>
       <tr>
           <td class="show-rep"> Repositories </td>
           <td>
               <div class="add-rep">
                   <i class="icon-plus add-rep"></i>
               </div>
           </td>
       </tr>
    </tbody>
</table>
