
<div>
    <div id="resources"></div>
    <div class="row">
      <!--  <div class="pagination pagination-centered">
            <ul>
                <li>
                    <a href="#">
                        <i class="icon-chevron-left"></i>
                    </a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li><a href="#"><i class="icon-chevron-right"></i></a></li>
            </ul>
        </div> -->
    </div>
</div>
