<div class="catalogue-form">
    <form class="form form-vertical catalogue-elem">
        <div class="pagination pagination-centered">
        </div>
        <h2>
            Sort by
        </h2>
        <select id="sorting">
            <option>Popularity</option>
            <option>Organization</option>
            <option>Creation date</option>
            <option>Owner</option>
        </select>
        <select id="number-offerings">
            <option>10</option>
            <option>20</option>
            <option>30</option>
        </select>
        <h2>
            Filter by
        </h2>
        <input type="text" />
        <input type="button" value="View all"></input>
    </form>
</div>
<div class="span10 offerings-container">
    <div class="tabbable catalogue-elem"> 
        <ul class="nav nav-tabs">
            <li class="active"><a href="#purchased-tab" data-toggle="tab">Purchased</a></li>
            {% if 'provider' in roles %}
            <li><a href="#provided-tab" data-toggle="tab">Provided</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Options<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a id="create-app">Create offering</a></li>
                    <li><a id="register-res">Register resource</a></li>
                    <li><a id="view-res">View resources</a></li>
                </ul>
            </li>
            {% endif %}
       </ul>
       <div class="tab-content">
           <div class="tab-pane active" id="purchased-tab">
              <div id="purchased-content">
              </div>
           </div>
           {% if 'provider' in roles %}
           <div class="tab-pane" id="provided-tab">
              <div id="provided-content">
              </div>
           </div>
           {% endif %}
       </div>
    </div>
</div>

