{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>FI-WARE Store</title>
        <link rel="icon" href="{{ STATIC_URL }}assets/ico/favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="{{ STATIC_URL }}assets/ico/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/aplication.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/docs.css" />
        <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/js/google-code-prettify/prettify.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/store/core.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/fonts/fonts.css" />

        <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet" type="text/css">
        <script type="text/javascript">
            USERNAME = "{{ user.username }}";
            USDLEDITOR = "{{ usdl_editor }}";
            ORGANIZATION = "{{ organization }}";
           // USERROLES = {{ roles }};
        </script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.tmpl.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}assets/js/bootstrap.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/EndpointManager.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/MessageManager.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/UserProfile.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/ModalForm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/UserConfiguration.js"></script>

        {% if oil %}
            <script type="text/javascript" src="{{ STATIC_URL }}oil/js/CreateOfferingForm.js"></script>
        {% else %}
            <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/catalogue/CreateOfferingForm.js"></script>
        {% endif %}

        <script type="text/x-jquery-tmpl" id="footer_template">{% include "footer_template.html" %}</script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/catalogue/RegisterResForm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/catalogue/PublishOffering.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/catalogue/BindResources.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/store/RenovationsForm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/store/DownloadResourcesForm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/catalogue/EditOfferingForm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/catalogue/CatalogueDetailsView.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/catalogue/OfferingElement.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/catalogue/CatalogueSearchView.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/catalogue/CatalogueView.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/catalogue/CommentForm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}wstore/js/catalogue/ProviderRequest.js"></script>

        <script type="text/x-jquery-tmpl" id="footer_template">{% include "footer_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="user_conf_template">{% include "user_conf_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="user_info_conf_template">{% include "user_info_conf_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="address_conf_template">{% include "address_conf_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="payment_info_conf_template">{% include "payment_info_conf_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="user_info_form_template">{% include "user_info_form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="address_conf_form_template">{% include "address_conf_form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="payment_info_form_template">{% include "payment_info_form_template.html" %}</script>

        <script type="text/x-jquery-tmpl" id="provider_tabs_template">{% include "catalogue/provider_tabs_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="catalogue_search_template">{% include "catalogue/catalogue_search_template.html" %}</script>

        <script type="text/x-jquery-tmpl" id="create_off_form_template">{% include "catalogue/create_off_form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="select_usdl_form_template">{% include "catalogue/select_usdl_form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="resources_form_template">{% include "catalogue/resources_form_template.html" %}</script>

        {% if oil %}
            <script type="text/x-jquery-tmpl" id="select_application_form_template">{% include "oil/select_application_form_template.html" %}</script>
            <script type="text/x-jquery-tmpl" id="application_select_template">{% include "oil/application_select_template.html" %}</script>
        {% endif %}

        <script type="text/x-jquery-tmpl" id="create_app_form_template">{% include "catalogue/create_app_form_template.html" %}</script>

        <script type="text/x-jquery-tmpl" id="upload_usdl_form_template">{% include "catalogue/upload_usdl_form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="create_usdl_form_template">{% include "catalogue/create_usdl_form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="provider_request_template">{% include "catalogue/provider_request_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="register_res_form_template">{% include "catalogue/register_res_form_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="radio_template">{% include "catalogue/radio_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="modal_template">{% include "modal_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="yes_no_window_template">{% include "yes_no_window_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="mini_offering_template">{% include "catalogue/mini_offering_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="details_offering_template">{% include "catalogue/details_offering_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="main_info_offering_template">{% include "catalogue/main_info_offering_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="legal_template">{% include "catalogue/legal_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="legal_clauses_template">{% include "catalogue/legal_clauses_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="pricing_template">{% include "catalogue/pricing_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="pricing_element_template">{% include "catalogue/pricing_element_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="pricing_function_template">{% include "catalogue/pricing_function_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="sla_template">{% include "catalogue/sla_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="sla_expresion_template">{% include "catalogue/sla_expresion_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="sla_variable_template">{% include "catalogue/sla_variable_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="bind_resources_template">{% include "catalogue/bind_resources_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="resource_template">{% include "catalogue/resource_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="int_prot_template">{% include "catalogue/int_prot_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="int_template">{% include "catalogue/int_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="int_param_template">{% include "catalogue/int_param_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="comment_template">{% include "catalogue/comment_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="credit_card_template">{% include "store/credit_card_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="alert_info_template">{% include "alert_info_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="alert_error_template">{% include "alert_error_template.html" %}</script>
        <script type="text/x-jquery-tmpl" id="alert_warning_template">{% include "alert_warning_template.html" %}</script>

        {% if portal %}
            <script src="{{ account }}assets/signOut.js" type="text/javascript"></script>
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}oil/css/wstore/wstore.css" />
        {% endif %}
        {% if oil %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}oil/css/wstore/app_form.css" />
        {% endif %}
        
    </head>
    <body>
        <div id="wrapper">
    {% if portal %}
        <div id="oil-bar">
        {% include "oil/header.html" %}
        </div>
    {% endif %}
        <div class="container-fluid bread-container">
            <div class="row-fluid">
            {% if not portal %}
                <div>
                    <img id="logo" src="{{ STATIC_URL }}assets/img/logo.png" />
                </div>
                <div class="store_title">
                    <span>FI-</span>WARE
                    <h2>WStore</h2>
                </div>
            {% endif %}
                <div class="navigation">
                    <ul class="nav nav-pills main-menu">
                        <li ><a href="/">Store</a>
                        </li>
                        <li class="active">
                            <a href="#">Catalogue</a>
                        </li>
                        {% if user.is_staff %}
                            <li><a href="/administration">Administration</a></li>
                        {% endif %}
                    </ul>
                   {% if not portal %}
                   <div class="btn btn-success float-right dropdown">
                       <div href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <i class="icon-user icon-white"></i>
                           {{ user.username }}
                           <b class="caret"></b>
                       </div>
                       <ul class="dropdown-menu">
                           <li><a id="conf-link">Configuration</a></li>
                           <li><a href="/logout">Logout</a></li>
                       </ul>
                   </div>
                   {% endif %}
                </div>
            </div>
            <div class="row-fluid title_wrapper">
                <span>Catalogue</span>
            </div>
        </div>
        <div class="container-fluid" >
            <div class="row-fluid">
                <div id="message-container"></div>
            </div>
            <div class="row-fluid" id="catalogue-container">
            </div>
        </div>
        </div>
    </body>
</html>

