<div id="provider-options" />
<div class="catalogue-form">
    <form class="form form-horizontal catalogue-elem">
        <div class="input-prepend input-append">
            <a class="btn btn-basic" data-toggle="dropdown"><i class="icon-sort-by-attributes"></i></a><input type="text" id="cat-search-input" class="input-long" placeholder="Search"/><a class="btn btn-blue" id="cat-search"><i class="icon-search"></i></a><a class="btn btn-basic" id="cat-all">All</a>
            <ul class="dropdown-menu" style="top: 25px;">
                <li><a id="sort-pop">Popularity</a></li>
                <li><a id="sort-name">Name</a></li>
                <li><a id="sort-date">Date</a></li>
            </ul>
        </div>
    </form>
</div>
<h1 id="catalogue-title">Purchased</h1>
<div class="offerings-scroll-container">
    <div class="offerings-container"></div>
</div>
<div class="clear space" />
<div style="clear:both" />
