
<div class="control-group">
    <div class="controls">
        <input type="text" placeholder="Label" id="comp-label"></input>
    </div>
</div>

<div class="control-group">
    <div class="controls">
        <textarea placeholder="Description" id="comp-description"></textarea>
    </div>
</div>

<div class="control-group">
<div class="control-slider">
    <div class="control control-back">&laquo;</div>
    <div class="control control-item">
        <div class="sliding-list">
            <div class="sliding-item payment-unique">
                <div class="price"><input type="text" class="editable-text" value="0.00"></span></div>
                <div class="title">Single payment</div>
            </div>
        </div>
    </div>
    <div class="control control-next">&raquo;</div>
</div>
</div>
