
<label>Description</label>
<textarea id="description"></textarea>

<label>Pricing model</label>
<select id="pricing-select">
    <option value="free">Free</option>
    <option value="single_payment">Single payment</option>
</select>
<div class="space clear" />
<div id="price" class="input-append  hide">
    <input id="price-input" type="text" placeholder="Price" style="width: 184px;"></input><span class="add-on">€</span>
</div>

<label>Legal Conditions</label>
<input id="legal-title" type="text" placeholder="Title"></input>
<div class="clear space" />
<textarea id="legal-text" placeholder="Text"></textarea>

<div class="clear space" />
<label>Select the repository</label>
<div class="controls">
    <select id="repositories">
    </select>
</div>