
<form class="form form-vertical">
    <label>Name</label>
    <input type="text" name="app-name" placeholder="App name"></input>
    <label>Version</label>
    <input type="text" name="app-version" placeholder="App version"></input>
    <label>Image or Logo</label>
    <input type="file" name="files" id="img-logo"></input>
    <label>Screen shots</label>
    <input type="file" name="files" id="screen-shots" multiple></input>
    <label>Upload USDL description</label>
    <a id="usdl-editor">
        USDL editor tool
        <i class="icon-wrench"></i>
    </a>
    <input type="file" name="usdl" id="usdl-doc"></input>
    <label>Select the repository</label>
    <div class="controls">
        <select id="repositories" class="radio">
        </select>
    </div>
</form>
