
<div>
    <h2>Description</h2>
      <p class="tabulation-info tabulation">${description}</p>
      
    <h2>Screenshots</h2>
      <div id="screenshots-car" class="carousel slide tabulation">
         <div class="carousel-inner">
         </div>
         <a class="left carousel-control" href="#screenshots-car" data-slide="prev">&lsaquo;</a>
         <a class="carousel-control right" href="#screenshots-car" data-slide="next">&rsaquo;</a>
      </div>

    <h2>Advanced operations</h2>
    <div id="advanced-op" class="tabulation">
    </div>

	<h2>Tags</h2>
	<i class="icon-tags" />
	<div id="tags" class="tabulation"/>

    <div id="review-container">
    </div>
</div>
