
<div>
    <h2>Description</h2>
    <p>${description}</p>

    <h2>Screenshots</h2>
    <div id="screenshots-car" class="carousel slide">
        <div class="carousel-inner">
        </div>
        <a class="left carousel-control" href="#screenshots-car" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#screenshots-car" data-slide="next">&rsaquo;</a>
    </div>

    <h2>Advanced operations</h2>
    <div id="advanced-op">
    </div>

	<div class="space clear" />
	<h2>Tags</h2>
	<i class="icon-tag" />
	<div id="tags" />

    <h2>Comments</h2>
    <input type="button" id="comment-btn" class="btn btn-basic hide" value="Comment" />
    <div class="space clear" />
    <div id="comments">
    </div>
</div>
