
<section class="span6">
    <label>Price Plan</label>
    <div class="control-group">
        <div class="controls">
            <input id="pricing-label" type="text" placeholder="Label"></input>
        </div>
    </div>
    <div class="clear space" />
    <div class="control-group">
        <div class="controls">
            <input id="pricing-title" type="text" placeholder="Display Name"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <textarea id="pricing-description" placeholder="Description"></textarea>
        </div>
    </div>
    <select id="pricing-currency">
    <select>
</section>
<section class="span5">
    <div class="control-group">
        <label>Price Components</label>
        <div class="clear line" />
        <div class="clear space" />
        <div id="comp-container">
            <div class="plan-selected" id="add-price-comp">
                <i class="icon-plus"></i>
            </div>
        </div>
        <div class="clear space" />
        <div id="slider-container">
        </div>
    </div>
</section>

