
<form class="form form-vertical">
    <div id="error-container"/>
    <div class="space clear" />
    <section class="span6">
        <div class="control-group">
            <label class="control-label">Name*</label>
            <div class="controls">
                <input type="text" name="res-name" placeholder="Resource name"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
                <textarea type="input-xlarge" name="res-description" placeholder="Resource description"></textarea>
            </div>
        </div>
    </section>
    <section class="span5">
        <div class="control-group">
            <label class="control-label">Version*</label>
            <div class="controls">
                <input type="text" name="res-version" placeholder="Resource version"></input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Resource Type*</label>
            <div class="controls">
                <select id="resource-type">
                </select>
            </div>
        </div>
    </section>
    <div class="space clear"></div>
    <input type="checkbox" name="res-open" id="res-open" /><span> Open Resource </span> <i class="icon-question-sign" id="open-help" rel="popover" data-content="Select whether the resource is open, that is, the resource is directly accessible by all the users" data-original-title="Help"></i>
</form>
