<div class="resource-options">
    <a class="btn btn-blue" id="res-back" ><i class="icon-arrow-left"></i></a>
    <a class="btn btn-blue res-remove"><i class="icon-trash"></i></a>
    <a class="btn btn-blue res-edit"><i class="icon-edit"></i></a>
</div>
<div class="clear space" />

<div class="resource-details">
    <dl>
        <dt><p class="res-det-title"><b class="color-resource">Name</b></p></dt>
          <dd>${name}</dd>

        <dt><p class="res-det-title"><b class="color-resource">Version</b></p></dt>
          <dd>${version}</dd>

        <dt><p class="res-det-title"><b class="color-resource">State</b></p></dt>
          <dd>${state}</dd>

        <dt><p class="res-det-title"><b class="color-resource">Content type</b></p></dt>
          <dd>${content_type}</dd>

        <dt><p class="res-det-title"><b class="color-resource">URL</b></p></dt>
          <dd>${link}</dd>

        <dt><p class="res-det-title"><b class="color-resource">Description</b></p></dt>
          <dd>${description}</dd>
    </dl>
</div>