<div class="resource-options">
    <a class="btn btn-blue" id="res-back" ><i class="icon-arrow-left"></i></a>
    <a rel="tooltip" title="Upgrade resource" class="btn btn-blue res-upgrade"><i class="icon-cloud-upload"></i></a>
    <a rel="tooltip" title="Remove resource" class="btn btn-blue res-remove"><i class="icon-trash"></i></a>
    <a rel="tooltip" title="Edit resource" class="btn btn-blue res-edit"><i class="icon-edit"></i></a>
</div>
<div class="clear space" />
<span class="label" id="res-state" style="float: right; margin-top: 10px;">${state}</span>
<span class="label label-success hide" style="float: right; margin-top: 10px; margin-right: 3px;">Open</span>
<div class="resource-details">
    <dl>
        <dt><p class="res-det-title"><b class="color-resource">Name</b></p></dt>
          <dd>${name}</dd>

        <dt><p class="res-det-title"><b class="color-resource">Version</b></p></dt>
          <dd>${version}</dd>

        <dt><p class="res-det-title"><b class="color-resource">Type</b></p></dt>
          <dd>${resource_type}</dd>

        <dt><p class="res-det-title"><b class="color-resource">Content type</b></p></dt>
          <dd>${content_type}</dd>

        <dt><p class="res-det-title"><b class="color-resource">URL</b></p></dt>
          <dd>${link}</dd>

        <dt><p class="res-det-title"><b class="color-resource">Description</b></p></dt>
          <dd>${description}</dd>
    </dl>
</div>