<div class="resource-options">
    <a class="btn btn-blue" id="res-back" ><i class="icon-arrow-left"></i></a>
    <a class="btn btn-blue res-remove"><i class="icon-trash"></i></a>
    <a class="btn btn-blue res-edit"><i class="icon-edit"></i></a>
</div>
<div class="clear space" />
<div class="resource-details">
    <p class="res-title"><b class="color-resource">Name:</b> ${name}</p>
    <p><b class="color-resource">Version:</b> ${version}</p>
    <p><b class="color-resource">State:</b> ${state}</p>
    <p><b class="color-resource">Content type:</b> ${content_type}</p>
    <p><b class="color-resource">URL:</b> ${link}</p>
    <p><b class="color-resource">Description:</b> ${description}</p>
</div>