
<div id="edit-nav">
    <div id="off-nav-1" class="off-nav">1. Basic Info</div>
    <div id="off-nav-2" class="off-nav">2. Description</div>
    <div id="off-nav-3" class="off-nav">3. Pricing</div>
</div>
<div class="clear space"></div>

<div id="update-basic-info">
    <form class="form form-vertical">
        <div id="update-basic-err"></div>
        <div class="image-container">
            <div class="img-filler" >
                <img src="${image_url}" class="image-preview" />
            </div>
        </div>
        <label>Image or Logo</label>
        <input type="file" name="files" id="img-logo"></input>
        <label>Screen shots</label>
        <input type="file" name="files" id="screen-shots" multiple></input>
        <div class="clear space"></div>

        <div class="control-group">
            <label class="control-label">Notification URL</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="notify-select" id="not-opt-1" value="default"> Use default notification URL.
                </label>
                <label class="radio">
                    <input type="radio" name="notify-select" id="not-opt-2" value="new"> Provide a notification URL.
                </label>
                <label class="radio">
                    <input type="radio" name="notify-select" id="not-opt-3" value="none"> Do not use a notification URL.
                </label>
            </div>
        </div>

        <div class="clear space"></div>
        <input class="hide" type="text" id="notify" placeholder="Notification URL" />
        <div class="clear space"></div>
    </form>
</div>

<div id="pricing-container">
</div>
