

<div class="menu-offering">
    <div class="row menu-offering-row">
      <h2>${name}</h2>
      <img src="${logo}" alt="">
      <div class="offering-meta">
          <i class="icon-star-empty" ></i>
          <i class="icon-star-empty" ></i>
          <i class="icon-star-empty" ></i>
          <i class="icon-star-empty" ></i>
          <i class="icon-star-empty" ></i>
          <p>${rating}</p>
          <span class="${label_class}">${state}</span>
      </div>
    </div>
    <div class="row menu-offering-row">
      <h2>Owner organization</h2>
      <p>${organization}</p>
      <h2>Description</h2>
      <p>${description}</p>
    </div>
</div>

