<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ BASEDIR }}/wstore/defaulttheme/static/assets/css/aplication.css" />
        <link rel="stylesheet" type="text/css" href="{{ BASEDIR }}/wstore/defaulttheme/static/assets/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="{{ BASEDIR }}/wstore/defaulttheme/static/assets/css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="{{ BASEDIR }}/wstore/defaulttheme/static/assets/css/docs.css" />
        <link rel="stylesheet" type="text/css" href="{{ BASEDIR }}/wstore/defaulttheme/static/assets/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="{{ BASEDIR }}/wstore/defaulttheme/static/assets/js/google-code-prettify/prettify.css" />
        <link rel="stylesheet" type="text/css" href="{{ BASEDIR }}/wstore/defaulttheme/static/assets/css/store/core.css" />
        <link rel="stylesheet" type="text/css" href="{{ BASEDIR }}/wstore/defaulttheme/static/assets/css/store/store.css" />
        <link rel="stylesheet" type="text/css" href="{{ BASEDIR }}/wstore/defaulttheme/static/assets/fonts/fonts.css" />
        <link rel="stylesheet" type="text/css" href="{{ BASEDIR }}/wstore/defaulttheme/static/assets/css/store/bill_style.css" />

        <link rel="stylesheet" type="text/css" href="{{ BASEDIR }}/wstore/defaulttheme/static/assets/js/google-code-prettify/prettify.css" />
        <link href="http://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{{ BASEDIR }}jquery/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="{{ BASEDIR }}jquery/jquery.tmpl.js"></script>
        <script type="text/javascript" src="{{ BASEDIR }}jquery/jquery.cookie.js"></script> 
        <script type="text/javascript" src="{{ BASEDIR }}/wstore/defaulttheme/static/assets/js/bootstrap.js"></script>

    </head>
    <body>
        <div class="bill_header">
            <div class="span1" id="logo">
                <img src="{{ BASEDIR }}/wstore/defaulttheme/static/assets/img/logo.png" />
            </div>
            <div class="span2 store_title" id="fiware-name">
                 <h1>FIWARE</h1>
                 <h2>WStore</h2>
            </div>
            <div id="purchase-info">
                <p><b>Date: </b> {{ date }}</p>
                <p><b>Ref: </b> {{ ref }}</p>
            </div>
        </div>
        <div class="container">
            <div id="customer-info">
                <p><b>Customer Info:</b></p>
                <p>{{ organization }}</p>
                <p>{{ customer }}</p>
                <p>{{ address }}</p>
                <p>{{ postal }}</p>
                <p>{{ city }}</p>
                <p>{{ province }}</p>
                <p>{{ country }}</p>
            </div>

            <div id="bill-info">
                <h2>{{ off_organization }} {{ offering_name }} {{ off_version }}</h2>
                <h3>Consumed</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Unit
                            </th>
                            <th>
                                Value per unit
                            </th>
                            <th>
                                Use
                            </th>
                            <th>
                                Value
                            </th>
                        <tr>
                    </thead>
                    <tbody>
                        {% for n, u, v, s, p in use_parts %}
                        <tr>
                            <td>
                                {{ n }}
                            </td>
                            <td>
                                {{ u }}
                            </td>
                            <td>
                                {{ v }} {{ cur }}
                            </td>
                            <td>
                                {{ s }}
                            </td>
                            <td>
                                {{ p }} {{ cur }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                Subtotal
                            </td>
                            <td>
                                {{ use_subtotal }} {{ cur }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% if deduction %}
                <h3>Deducted</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Unit
                            </th>
                            <th>
                                Value per unit
                            </th>
                            <th>
                                Use
                            </th>
                            <th>
                                Value
                            </th>
                        <tr>
                    </thead>
                    <tbody>
                        {% for n, v, c, u, s, p in deduct_parts %}
                        <tr>
                            <td>
                                {{ n }}
                            </td>
                            <td>
                                {{ u }}
                            </td>
                            <td>
                                {{ v }} {{ c }}
                            </td>
                            <td>
                                {{ s }}
                            </td>
                            <td>
                                {{ p }} {{ c }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                Subtotal
                            </td>
                            <td>
                                {{ deduct_subtotal }} {{ cur }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
                <h3>Taxes</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Value
                            </th>
                            <th>
                                Unit
                            </th>
                            <th>
                                Currency
                            </th>
                        <tr>
                    </thead>
                    <tbody>
                        {% for n, v, u, c in taxes %}
                        <tr>
                            <td>
                                {{ n }}
                            </td>
                            <td>
                                {{ v }}
                            </td>
                            <td>
                                {{ u }}
                            </td>
                            <td>
                                {{ c }}
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h3>Resources</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Resource
                            </th>
                            <th>
                                Description
                            </th>
                        <tr>
                    </thead>
                    <tbody>
                        {% for n, d in resources %}
                        <tr>
                            <td>
                               {{ n }}
                            </td>
                            <td>
                               {{ d }}
                            </td>
                        <tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table class="table table-bordered" id="price">
                    <thead>
                        <tr>
                            <th>
                                Subtotal
                            </th>
                            <th>
                                Taxes
                            </th>
                            <th>
                                Total price
                            </th>
                        <tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ subtotal }} {{ cur }}
                            </td>
                            <td>
                                {{ tax }}
                            </td>
                            <td>
                                {{ total }} {{ cur }}
                            </td>
                        <tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
