
<div class="store-menu-container">
<ul class="no-bullet store-menu">
    <li><div id="menu-first-icon" class="menu-icon"><i class="icon-group"></i></div><span id="menu-first-text">Organizations</span></li>
    <li><div id="menu-second-icon" class="menu-icon"><i class="icon-desktop"></i></div><span id="menu-second-text">Applications</span></li>
</ul>
<ul class="no-bullet store-sub-menu">
    <li><i class="icon-home"></i><a href="/">Home</a></li>
    <li><i class="icon-folder-open-alt"></i><a href="/catalogue">My Offerings</a></li>
</ul>
</div>
<div class="close-btn">
    <i class="icon-caret-left"></i>
</div>