<div class="row-fluid">
  <div class="span6">
    <label>Name</label>
    <p id="id_org_inf_name"></p>
  </div>
  <div class="span6">
    <label>Notification URL</label>
    <p id="id_org_inf_notification_url"></p>
  </div>
</div><!-- /.row-fluid -->
<h3>Tax Address</h3>
<div id="id_org_inf_tax_address" class="row-fluid">
  <div class="span6">
    <label>Street</label>
    <p id="id_org_inf_tax_street"></p>
    <label>Postcode</label>
    <p id="id_org_inf_tax_postcode"></p>
      <label>Country</label>
    <p id="id_org_inf_tax_country"></p>
  </div>
  <div class="span6">
    <label>City</label>
    <p id="id_org_inf_tax_city"></p>
      <label>State/Province</label>
    <p id="id_org_inf_tax_province"></p>
  </div>
</div><!-- /.row-fluid -->
</div><!-- /.row-fluid -->