<div class="row-fluid">
  <div class="span6">
    <div class="control-group">
      <label class="control-label">Name</label>
      <div class="controls">
        <input type="text" name="name" class="span12" placeholder="Organization name" />
      </div><!-- /.controls -->
    </div><!-- /.control-group -->
  </div><!-- /.span -->
  <div class="span6">
    <div class="control-group">
      <label class="control-label">Notification URL <span class="subtitle">(optional)</span></label>
      <div class="controls">
        <input type="text" name="notification_url" class="span12" placeholder="Notification URL" />
      </div><!-- /.controls -->
    </div><!-- /.control-group -->
  </div><!-- /.span -->
</div><!-- /.row-fluid -->
<div id="id_org_ta_fields"></div>
<div id="id_org_pf_fields"></div>