<div class="row-fluid">
  <div class="span6">
    <div class="control-group">
      <label class="control-label">Username</label>
      <div class="controls">
        <input type="text" name="username" class="span12" placeholder="Username" />
      </div>
    </div><!-- /.control-group -->
  </div><!-- /.span -->
  <div class="span6">
    <div class="control-group">
      <label class="control-label">Roles</label>
      <div class="controls">
        <label class="checkbox inline">
          <input type="checkbox" name="role_customer" value="customer" /> Customer
        </label>
        <label class="checkbox inline">
          <input type="checkbox" name="role_manager" value="manager" /> Manager
        </label>
        <label class="checkbox inline">
          <input type="checkbox" name="role_provider" value="provider" /> Provider
        </label>
      </div>
    </div><!-- /.control-group -->
  </div><!-- /.span -->
</div><!-- /.row-fluid -->