<div class="row-fluid">
  <div class="span6">
    <label>Name</label>
    <p id="id_org_inf_name"></p>
  </div>
  <div class="span6">
    <label>Notification URL</label>
    <p id="id_org_inf_notification_url"></p>
  </div>
</div><!-- /.row-fluid -->
<h3>Tax Address</h3>
<div id="id_org_inf_tax_address" class="row-fluid">
  <div class="span6">
    <label>Street</label>
    <p id="id_org_inf_tax_street"></p>
    <label>Postcode</label>
    <p id="id_org_inf_tax_postcode"></p>
  </div>
  <div class="span6">
    <label>City</label>
    <p id="id_org_inf_tax_city"></p>
    <label>Country</label>
    <p id="id_org_inf_tax_country"></p>
  </div>
</div><!-- /.row-fluid -->
<h3>Payment Form</h3>
<div id="id_org_inf_payment_form" class="row-fluid">
  <div class="span6">
    <label>Card type</label>
    <p id="id_org_inf_card_type"></p>
    <label>Card number</label>
    <p id="id_org_inf_card_number"></p>
  </div>
  <div class="span6">
    <label>Card code</label>
    <p id="id_org_inf_card_code"></p>
    <label>Expiry date</label>
    <p id="id_org_inf_card_expiry_date"></p>
  </div>
</div><!-- /.row-fluid -->