<h3>Tax Address <span class="subtitle">(optional)</span></h3>
<div class="row-fluid">
  <div class="span6">
    <div class="control-group">
      <label class="control-label">Street</label>
      <div class="controls">
      <input type="text" name="tax_street" class="span12" placeholder="Street" />
      </div>
    </div><!-- /.control-group -->
    <div class="control-group">
      <label class="control-label">Postcode</label>
      <div class="controls">
        <input type="text" name="tax_postcode" class="span12" placeholder="Postcode" />
      </div>
    </div><!-- /.control-group -->
      <div class="control-group">
      <label class="control-label">Country</label>
      <div class="controls">
        <input type="text" name="tax_country" class="span12" placeholder="Country" />
      </div>
    </div><!-- /.control-group -->
  </div><!-- /.span -->
  <div class="span6">
    <div class="control-group">
      <label class="control-label">City</label>
      <div class="controls">
        <input type="text" name="tax_city" class="span12" placeholder="City" />
      </div>
    </div><!-- /.control-group -->
      <div class="control-group">
      <label class="control-label">State/Province</label>
      <div class="controls">
        <input type="text" name="tax_province" class="span12" placeholder="State/Province" />
      </div>
    </div><!-- /.control-group -->
  </div><!-- /.span -->
</div><!-- /.row-fluid -->