.bread-container {
  margin-top: 170px;
}

.navigation {
  top: 60px;
  right: -105px;
}

.app-icon {
  height: 40px;
  float: left;
}

.app-info {
  margin-left: 10px;
  float: left;
}

.app-info p {
  margin-bottom: 3px;
}

#applications {
  list-style: none;
  display: inline;
}

#applications input[type="checkbox"] {
  float: right;
  margin: 15px 15px 0px 0px;
}

a {
  color: rgb(0, 43, 103);
}

a:hover {
  color: rgb(96, 193, 207);
}

h2 {
  color: rgb(0, 43, 103);
}

.btn-blue {
  background-color: rgb(0, 43, 103);
  border-color: rgb(0, 43, 103);
}

.btn-blue:hover {
  background-color: rgb(0, 43, 103);
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 43, 103);
}

footer {
  color: #8C8C8C;
  margin-left: 20px;
  position: fixed;
  bottom: 0;
}
