
#logo {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 100px;
    height:100px;
}

#fiware-name {
    position: absolute;
    left: 155px;
    top: 30px;
}

#purchase-info {
    float: right;
}

#customer-info {
    position: absolute;
    top: 150px;
    left: 30px;
}

#bill-info {
    position: absolute;
    left: 30px;
    top: 335px;
}

#price {
    margin-top: 150px;
}
