
.store-menu .icon-credit-card {
  font-size: 20px;
  position: relative;
  top: 10px;
  left: 8px;
  color: rgb(255,255,255);
}

.store-menu .icon-cloud-upload {
  font-size: 22px;
  position: relative;
  top: -31px;
  left: 8px;
  color: rgb(0, 45, 103);
}

.catalogue-form {
  position: fixed;
  top: 51px;
  right: 0;
  height: 40px;
  width: 486px;
}

#provider-options {
  position: absolute;
  top: 51px;
  left: 240px;
}

.offerings-scroll-container {
  overflow: auto;
  position: absolute;
  top: 180px;
  left: 0px;
  width: 100%;
}

.offerings-container {
  width: 1293px;
  position: absolute;
  left: 50%;
  margin-left: -525px;
  top: 0;
}

/* Search components position depends on the window size */
@media all and (max-width: 1600px) {
  .offerings-container {
     width: 960px;
     margin-left: -375px;
  }
}

@media all and (max-width: 1211px) {
  .offerings-container {
     width: 640px;
     margin-left: -213px;
  }
}

#catalogue-title {
  position: absolute;
  top: 132px;
  font-size: 30px;
}

.res-hover {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.res-gradient {
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  transition: background linear 0.2s;
  -moz-transition: background linear 0.2s; /* Firefox 4 */
  -webkit-transition: background linear 0.2s;
  float: right;
}

.res-title-gradient {
  float: right;
  width: 40px;
  height: 20px;
  position: relative;
  top: -39px;
  left: -58px;
  background: -webkit-linear-gradient(left, rgba(235, 235, 235, 0), rgb(235, 235, 235)) !important;
  background: linear-gradient(to right, rgba(235, 235, 235, 0), rgb(235, 235, 235)) !important;
}

.res-desc-gradient {
  position: relative;
  width: 50px;
  height: 20px;
  top: 46px;
  left: 79px;
  z-index: 3;
}

.res-title {
  white-space: nowrap;
  overflow: hidden;
  width: 164px;
  margin-top: -2px;
  height: 17px;
  font-family: NeoTech;
  color: rgb(0, 43, 103);
  font-size: 16px;
  padding-top: 12px;
  padding-left: 10px;
}

#open-help {
  position: relative;
  top: 4px;
  left: 4px;
}

.resource-options i {
  font-size: 12px;
}

.resource-options .res-edit {
  float: right;
}

.resource-options .res-remove {
  float: right;
  margin-left: 5px;
}

.resource-options .res-upgrade {
  float: right;
  margin-left: 5px;
}

.resource-details dd {
  border-top: 1px solid rgb(193, 193, 193);
  padding-top: 6px;
  overflow: hidden;
}

.res-det-title {
  margin-bottom: 0;
}

.resource .label {
  position: relative;
  top: -37px;
  left: 30px;
  float: right;
}

.res-version {
  margin-top: -20px;
  padding-left: 8px;
}

.res-description {
  width: 100%;
  height: 53px;
  overflow: hidden;
  position: relative;
  top: -11px;
}

.resource-header {
  width: 231px;
  margin-left: -10px;
  margin-top: -10px;
  height: 50px;
  background-color: rgb(235, 235, 235);
}

@media all and (max-width: 980px) {
  #catalogue-container {
     position: absolute;
     left: 0;
     top: -170px;
  }
}

@media all and (max-width: 900px) {
  .offerings-container {
     margin-left: -304px;
  }
}
