#login-header {
    position: absolute;
    left: 50%;
    top: 120px;
    margin-left: -165px;
}

#become-prov {
    margin-left: 20px;
}

#login-form {
    border: solid 1px rgb(190, 190, 190);
    padding: 20px;
    border-radius: 6px;
    width: 325px;
    background-color: rgb(250, 250, 260);
    position: absolute;
    left: 50%;
    margin-left: -162px;
    top: 220px;
}

#id_username {
    width: 285px;
}

#logo {
    width: 80px;
}

.title_wrapper {
    font-family: "Open Sans";
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(237, 237, 237, 0.85) 50%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255, 255, 255, 0)), color-stop(50%,rgba(237, 237, 237, 0.85)), color-stop(100%,rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    font-size: 30px;
    width: 75%;
    float: right;
    font-weight: normal;
    color: rgb(102, 102, 102);
    padding: 23px;
    margin-top: -36px;
    position: relative;
    top: 10px;
}

.title_wrapper span {
    position: relative;
    top: -6px;
}

.store_title {
    position: relative;
    left: 89px;
    top: -50px;
    color: rgb(96, 193, 207);
    font-family: NeoTech;
    font-size: 30px;
    font-weight: 200;
    width: 117px;
}

.store_title span {
    color: rgb(0, 45, 103);
}

.store_title h2 {
    float: right;
    font-family: NeoTech;
}

.navigation {
    width: 400px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.float-right {
    float: right !important;
}

.inline {
    display: inline;
}

.admin-element {
    margin-top: 100px;
}

.main-menu {
    float: left;
}

.icon-question-sign:hover {
    cursor: pointer;
}

#notification-help {
    float: left;
    position: relative;
    top: -23px;
    left: 100px;
}

#resources-help {
    float: left;
    position: relative;
    top: -23px;
    left: 112px;
}

.question-sing-sel {
    color: rgb(96, 193, 207);
}

.notify-controls {
    float: left;
    margin-left: -17px;
}

#sel-resources {
    float: left;
    width: 100%;
    max-height: 345px;
    overflow-y: auto;
}

#usdl-container {
    max-height: 300px;
    overflow-y: auto;
}

.catalogue-elem {
    margin-top: 50px;
}

.tab-content {
    padding: 5px;
}

.catalogue-form {
    width: 200px;
}

.search-container {
    position: absolute;
    top: 300px;
    left: 250px;
}

.menu-offering {
    text-align: left;
    border: 1px solid rgb(205, 206, 209);
    border-radius: 6px;
    width: 360px;
    height: 320px;
    padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px;
    transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s; /* Firefox 4 */
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s; /* Safari and Chrome */
    overflow: hidden;
}

.menu-offering:hover {
    background-color: rgb(237, 237, 237);
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.menu-offering img {
    width: 170px;
    height: 80px;
    background: white;
    border-radius: 4px;
    display: inline;
}

.menu-offering-row {
    position: relative;
    float:left;
    margin-top: 10px;
    margin-left: 10px;
}

.offering-meta {
    position: absolute;
    top: 15px;
    left: 250px;
    width: 95px;
}

.offering-meta i{
    font-size: 17px;
}

.details-title {
    font-size: 30px;
    margin-left: 30px;
}

.main-info-container {
    width: 260px;
}

.main-info {
    width: 75%;
    background-color: rgb(246, 246, 244);
    border-color: rgb(205, 206, 209);
}

.main-info img {
    width: 170px;
    height: 80px;
    margin: 10px;
    border: 1px solid rgb(205, 206, 209);
    border-radius: 4px;
}

.main-info i {
    font-size: 17px;
}

.main-info input {
    position: relative;
    left: 50%;
    width: 100px;
    margin-left: -50px;
}

.detailed-info {
    position: absolute;
    top: 270px;
    left: 260px;
}

#screenshots-car {
    width: 40%;
}

.details-icons {
    text-align: center;
    margin-top: 10px;
}

.details-button {
    position: relative;
    left: 29%;
    margin-top: 10px;
}

.tab-button {
    position: absolute;
    right: 20px;
    z-index: 3;
}

.btn-advanced {
    margin-right: 10px;
}

.modal-body i {
    font-size: 20px;
}

.resource {
    display: inline-block;
    border: solid 1px rgb(205, 206, 209);
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    width: 41%;
    transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s; /* Firefox 4 */
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s; /* Safari and Chrome */
    overflow: hidden;
}

.resource:hover {
    background-color: rgb(237, 237, 237);
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

}

#store-container {
    display: inline-block;
    margin-top: 0px;
}

#store-search {
    float: right;
    margin-top: 30px;
}

#user-title {
    margin-left: 25px;
}

.admin-submit {
    margin-top: 10px;
    margin-left: 30px;
}

.blue-star {
    color: #3E80AD;
}

#comment-text {
    width: 97%;
    height: 100px;
}

.comment-rating {
    display: inline;
    margin-left: 10px;
}

.table i:hover {
  cursor: pointer;
}

a {
  color: rgb(0, 43, 103);
}

a:hover {
  color: rgb(96, 193, 207);
  cursor: pointer;
}

h2 {
  color: rgb(0, 43, 103);
}

.btn-blue {
  background-color: rgb(0, 43, 103);
  border-color: rgb(0, 43, 103);
}

.btn-blue:hover {
  background-color: rgb(0, 43, 103);
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 43, 103);
}

.add-on {
  background-color: rgb(0, 43, 103) !important;
}

