.dropdown-menu>li>a:hover {
  background-color: rgb(0, 43, 103)
}

.error-input {
  border-color: rgb(185,74,72);
  color: rgb(185,74,72);
}

.error-input::-webkit-input-placeholder { /* WebKit browsers */
    color: rgb(185, 74, 72);
}

.error-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(185, 74, 72);
}
.error-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(185, 74, 72);
}
.error-input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgb(185, 74, 72);
}

.error-input:focus {
  border-color: rgb(149,59,57);
  box-shadow: 0 0 6px rgb(213, 147, 146);
}

#login-header {
    position: absolute;
    left: 50%;
    top: 120px;
    margin-left: -165px;
}

#become-prov {
    margin-left: 20px;
}

#login-form {
    border: solid 1px rgb(190, 190, 190);
    padding: 20px;
    border-radius: 6px;
    width: 325px;
    background-color: rgb(250, 250, 260);
    position: absolute;
    left: 50%;
    margin-left: -162px;
    top: 220px;
}

#signup-form {
    border: solid 1px rgb(190, 190, 190);
    padding: 20px;
    border-radius: 6px;
    width: 325px;
    background-color: rgb(250, 250, 260);
    position: absolute;
    left: 50%;
    margin-left: -162px;
    top: 400px;
}

.form-backend {
    background-color: rgb(250, 250, 260);
    border: solid 1px rgb(190, 190, 190);
    border-radius: 6px;
}

.input-form {
    width: 285px;
}

.item-center {
    text-align: center;
}

#id_username {
    width: 285px;
}

#logo {
    width: 80px;
}

.title_wrapper {
    font-family: "Open Sans";
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(237, 237, 237, 0.85) 50%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255, 255, 255, 0)), color-stop(50%,rgba(237, 237, 237, 0.85)), color-stop(100%,rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(left, rgba(255, 255, 255, 0) 0%,rgba(237, 237, 237, 0.85) 50%,rgba(237, 237, 237, 1) 100%);
    font-size: 30px;
    width: 75%;
    float: right;
    font-weight: normal;
    color: rgb(102, 102, 102);
    padding: 23px;
    margin-top: -36px;
    position: absolute;
    top: 140px;
    right: 0;
}

.title_wrapper span {
    position: relative;
    top: -6px;
}

.navigation .icon-caret-right {
  position: absolute;
  top: 10px;
  left: 145px;
  color: rgb(0, 43, 103);
}

.store_title {
    position: relative;
    left: 89px;
    top: -50px;
    color: rgb(96, 193, 207);
    font-family: NeoTech;
    font-size: 30px;
    font-weight: 200;
    width: 117px;
}

.store_title span {
    color: rgb(0, 45, 103);
}

.store_title h2 {
    float: right;
    font-family: NeoTech;
}

.navigation {
    width: 400px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.float-right {
    float: right !important;
}

.inline {
    display: inline;
}

.main-menu {
    float: left;
}

.icon-question-sign:hover {
    cursor: pointer;
}

.offerings-container {
    position: absolute;
    top: 176px;
    left:228px;
}

#notification-help {
    float: left;
    position: relative;
    top: -23px;
    left: 100px;
}

#resources-help {
    float: left;
    position: relative;
    top: -23px;
    left: 112px;
}

.question-sing-sel {
    color: rgb(96, 193, 207);
}

.notify-controls {
    float: left;
    margin-left: -17px;
}

#sel-resources {
    float: left;
    width: 100%;
    max-height: 345px;
    overflow-y: auto;
}

#usdl-container {
    max-height: 300px;
    overflow-y: auto;
}

.catalogue-elem {
    margin-top: 50px;
}

/* Fixed position in Details and Catalogue Tab */
.tab-content {
    padding: 5px;
    overflow: auto;
    width: 97%;
}

.catalogue-form {
    width: 200px;
}

/* Fixed position in Search options in the store view */
.search-container {
    position: absolute;
    top: 300px;
    left: 250px;
    overflow: auto;
    height: 118%;
    width: 82%;
}

.menu-offering {
    text-align: left;
    border: 1px solid rgb(205, 206, 209);
    border-radius: 6px;
    width: 275px;
    height: 130px;
    padding: 10px;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 15px;
    transition: border linear 0.2s, box-shadow linear 0.2s, /*background linear 0.2s*/;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s, /*background linear 0.2s*/; /* Firefox 4 */
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s, /*background linear 0.2s*/; /* Safari and Chrome */
    overflow: hidden;
    -webkit-box-shadow: 0 0 8px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0 0 8px rgba(50, 50, 50, 0.1);
    box-shadow: 0 0 8px rgba(50, 50, 50, 0.1);
    background: white;
    cursor: pointer;
}

.menu-offering:hover {
    /*background-color: rgb(237, 237, 237);*/
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.menu-offering img {
    width: 170px;
    height: 80px;
    background: white;
    border-radius: 4px;
    display: inline;
    position: absolute;
    bottom: 0;
    left: 0;
}

.menu-offering-row h2{
    width: 191px;
    height: 20px;
    white-space: nowrap;
    padding-top:2px;
    overflow: hidden;
    position: absolute;
    top: -8px;
    left: 10px;
}

.menu-offering-row .label {
    position: absolute;
    top: 31px;
}

#off-desc {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 104px;
    height: 71px;
    overflow: hidden;
}

.off-org-name {
    position: absolute;
    top: 30px;
    width: 192px;
    overflow: hidden;
    white-space: nowrap;
}

.mini-off-price {
    position: absolute;
    top: 20px;
    left: 0px;
    font-size: 15px;
    width: 100%;
}

.mini-off-btn {
    position: absolute;
    top: 20px;
    left: 0;
    width: 80px;
}

.txt-gradient {
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  position: absolute;
  top: 0px;
  width: 38px;
  height: 100%;
  left: 156px;
  transition: background linear 0.2s;
  -moz-transition: background linear 0.2s; /* Firefox 4 */
  -webkit-transition: background linear 0.2s;
}

.menu-offering-row >.txt-gradient {
  top: 126px;
  width: 43px;
  height: 17px;
  left: 240px;
}

.org-info .txt-gradient {
  top: 31px;
  width: 43px;
  height: 17px;
  left: 161px;
}

.offering-meta {
    position: absolute;
    top: 10px;
    left: 205px;
    width: 87px;
}

.offering-meta i{
    font-size: 17px;
}

.details-title {
    font-size: 30px;
    margin-left: 30px;
}

.main-info-container {
    width: 260px;
}

.main-info {
    width: 75%;
    background-color: rgb(246, 246, 244);
    border-color: rgb(205, 206, 209);
}

.main-info img {
    width: 170px;
    height: 80px;
    margin: 10px;
    border: 1px solid rgb(205, 206, 209);
    border-radius: 4px;
}

.main-info i {
    font-size: 17px;
}

.main-info input {
    position: relative;
    left: 50%;
    width: 100px;
    margin-left: -50px;
}

.detailed-info {
    position: absolute;
    top: 246px;
    left: 210px;
}

#screenshots-car {
    width: 40%;
}

.details-icons {
    text-align: center;
    margin-top: 10px;
}

.details-button {
    position: relative;
    left: 29%;
    margin-top: 10px;
}

.tab-button {
    position: absolute;
    z-index: 3;
}

#user-edit {
    right: 30px;
}

.btn-advanced {
    margin-right: 10px;
}

.modal-body i {
    font-size: 20px;
}

.resource {
    display: inline-block;
    border: solid 1px rgb(205, 206, 209);
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    width: 41%;
    transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s; /* Firefox 4 */
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s, background linear 0.2s; /* Safari and Chrome */
    overflow: hidden;
}

.resource:hover {
    background-color: rgb(237, 237, 237);
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

}

#store-container {
    display: inline-block;
    margin-top: 0px;
}

#store-search {
    float: right;
    margin-top: 30px;
}

#user-title {
    margin-left: 25px;
}

.admin-submit {
    margin-top: 10px;
    margin-left: 30px;
}

.blue-star {
    color: rgb(96, 193, 207);
}

#comment-text {
    width: 97%;
    height: 100px;
}

.comment-rating {
    display: inline;
    margin-left: 10px;
}

.table i:hover {
  cursor: pointer;
}

a {
  color: rgb(0, 43, 103);
}

a:hover {
  color: rgb(96, 193, 207);
  cursor: pointer;
}

h2 {
  color: rgb(0, 43, 103);
}

.btn-blue {
  background-color: rgb(0, 43, 103);
  border-color: rgb(0, 43, 103);
}

.btn-blue:hover {
  background-color: rgb(0, 43, 103);
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 43, 103);
}

.add-on {
  background-color: rgb(0, 43, 103) !important;
}

#store-return {
  position: absolute;
}

.catalogue-form .form {
  width: 221px;
}

.icon-tag {
color: rgb(96, 193, 207);
}

#main-tab .icon-tag {
  font-size: 20px;
}

#main-tab h2:nth-last-of-type(2) {
  display: inline;
}

#tags .btn {
  margin-top: 10px;
}

a.tag {
  margin-right: 10px;
}

.included-tag .icon-remove-sign {
  color: rgb(218, 79, 73);
  float: right;
}

.included-tag .icon-remove-sign:hover {
  cursor: pointer;
}

.included-tag span {
  margin: 10px;
}

#add-tag {
  margin-bottom: 6px; 
}

#tag-text {
  width: 85%;
}

.suggested-tag {
  margin-right: 10px;
}

.suggested-tag .icon-plus-sign {
  float: right;
  color: rgb(91, 183, 91);
}

.suggested-tag .icon-plus-sign:hover {
  cursor: pointer;
}

.suggested-tag span {
  margin: 10px;
}

.suggested-tag .icon-remove-sign {
  color: rgb(218, 79, 73);
  float: right;
}

/* Loading view when waiting for requests */
#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4) url(/static/assets/img/loading.gif) no-repeat center;
  z-index: 50;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

/* Fixed position in Footer */
footer {
    position: fixed;
    bottom: 0;
}
