
.hr-clear {
  border-top: 1px solid #dddddd;
  clear: both;
}

.subtitle {
  color: #999;
  font-size: 13px;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #555555;
}

.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
  -moz-box-shadow: 0 0 6px #d59392;
  box-shadow: 0 0 6px #d59392;
}

select {
  cursor: pointer;
}

select:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0; outline: thin dotted \9; /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.gif-loading {
  background-image: url(/static/assets/img/loading.gif);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 8px;
  margin-left: 10px;
}

label.checkbox {
  cursor: pointer;
}

/* Form */

.form-default .form-fields h3 {
  color: #002b67;
  margin-top: 8px;
  margin-bottom: 8px;
}

.form-default .form-options {
  margin-top: 8px;
}

.form-default .form-options input[type="button"],
.form-default .form-options input[type="submit"] {
  padding-left: 0px;
  padding-right: 0px;
}

.form-default .form-errors .alert {
  margin-bottom: 8px;
}

/* Panel */

.panel {
  margin-bottom: 18px;
}

.panel .panel-heading {
  border: 1px solid #dddddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 8px 12px;
}

.panel .panel-heading a:hover {
  text-decoration: none;
  color: rgb(96, 193, 207);
}

.panel .panel-heading .panel-options .pull-right {
  margin-left: 10px;
}

.panel .panel-heading .panel-options {
  float: right;
  margin-left: 8px;
}

.panel .panel-heading .panel-options .option {
  margin-left: 8px;
}

.panel .panel-heading .panel-close {
  float: right;
  margin-left: 18px;
}

.panel .panel-body {
  border: 1px solid #dddddd;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px 10px;
  padding-bottom: 8px;
  background-color: rgb(255, 255, 255);
}

.panel .panel-body form:last-child {
  margin-bottom: 0px;
}

.panel .panel-body table:last-child {
  margin-bottom: 0px;
}

/* Panel Default */

.panel-default .panel-body h3 {
  color: #002b67;
  margin-top: 8px;
  margin-bottom: 8px;
}

.panel.panel-default .panel-heading {
  background-color: rgb(235, 235, 235);
  color: #002b67;
  font-weight: bold;
  font-family: NeoTech;
  font-size: 16px;
}

.panel.panel-default .panel-heading .panel-options i:hover {
  color: rgb(96, 193, 207);
}

/* Table-members */

.table-members {
  border-collapse: collapse;
}

.table-members thead tr th {
 text-align: center;
 color: #002b67;
}

.table-members thead tr th.username {
  width: 50%;
  text-align: left;
}

.table-members tbody tr td {
  text-align: center;
  color: #468847;
}

.table-members tbody tr td.username {
  text-align: left;
  color: #333333;
}

/* Table default */

.table-default td {
  border-radius: 4px;
  border-top: none;
  cursor: pointer;
}

.table-members tbody tr:hover td,
.table-default tbody tr:hover td {
  background-color: #f5f8fa;
  color: rgb(96, 193, 207);
}

.table-default tbody tr td.active,
.table-default tbody tr:hover td.active {
 color: #292f33;
 font-weight: bold;
}

/* modal */

.modal .modal-header {
  padding: 8px 16px;
}

.modal .modal-header h3 {
  font-weight: bold;
  margin: 8px 0px;
}

.modal .modal-body {
  padding: 16px 16px;
}

.modal .modal-footer {
  padding: 8px 16px;
}

/* modal default */

.modal-default .modal-header h3 {
  color: #002b67;
}
.modal-default .modal-footer {
  background-color: #f3f3ff;
}

.organizations {
  margin-left: 225px;
}

