/* Fixed position in Store View */
#container-rated-newest {
  overflow: auto;
  position: absolute;
  margin-top: -88px;
}

#container-rated-newest .menu-offering {
  float:left;
}

#search-options {
  position: absolute;
  top: 83px;
  left: 103px;
}

.home-pg-title {
  position: relative;
  left: 50%;
  width: 170px;
  margin-left: -525px;
  font-size: 30px;
}

#top-rated-container {
  position: relative;
  left: 50%;
  width: 1270px;
  margin-left: -525px;
}

#top-rated-container .menu-offering:nth-child(5) {
  clear: left;
}

#newest-container {
  position: relative;
  left: 50%;
  width: 1270px;
  margin-left: -525px;
}

#newest-container .menu-offering:nth-child(5) {
  clear: left;
}


@media all and (max-width: 1600px) {
  .home-pg-title {
    margin-left: -375px;
  }

  #top-rated-container {
    width: 970px;
    margin-left: -375px;
  }

  #top-rated-container .menu-offering:nth-child(7) {
    display:none;
  }
  #top-rated-container .menu-offering:nth-child(8) {
    display:none;
  }
  #top-rated-container .menu-offering:nth-child(5) {
    clear: none;
  }

  #newest-container {
    width: 970px;
    margin-left: -375px;
  }
  #newest-container .menu-offering:nth-child(7) {
    display:none;
  }
  #newest-container .menu-offering:nth-child(8) {
    display:none;
  }
  #newest-container .menu-offering:nth-child(5) {
    clear: none;
  }
}

@media all and (max-width: 1211px) {
  .home-pg-title {
    margin-left: -213px;
  }

  #top-rated-container {
    width: 645px;
    margin-left: -213px;
  }

  #top-rated-container .menu-offering:nth-child(5) {
    display:none;
  }
  #top-rated-container .menu-offering:nth-child(6) {
    display:none;
  }
  #top-rated-container .menu-offering:nth-child(5) {
    clear: none;
  }

  #newest-container {
    width: 645px;
    margin-left: -213px;
  }

  #newest-container .menu-offering:nth-child(5) {
    display:none;
  }
  #newest-container .menu-offering:nth-child(6) {
    display:none;
  }
  #newest-container .menu-offering:nth-child(5) {
    clear: none;
  }
}

.store-menu .icon-gears {
  font-size: 20px;
  position: relative;
  top: 9px;
  left: 7px;
  color: rgb(255,255,255);
}

.store-menu .icon-hdd {
  font-size: 22px;
  position: relative;
  top: -29px;
  left: 10px;
  color: rgb(0, 45, 103);
}

.store-menu .icon-puzzle-piece {
  font-size: 20px;
  position: relative;
  top: -29px;
  left: 10px;
  color: rgb(255,255,255);
}

/* Fixed position in View All options in the store view */
.search-scroll-cont {
    overflow: auto;
    position: absolute;
    top: 180px;
    left: 0px;
    width: 100%;
}

.search-container {
  width: 1293px;
  position: absolute;
  left: 50%;
  margin-left: -525px;
}

/* Search components position depends on the window size */
@media all and (max-width: 1600px) {
  .search-container {
     width: 960px;
     margin-left: -375px;
  }
}

@media all and (max-width: 1211px) {
  .search-container {
     width: 640px;
     margin-left: -213px;
  }
}

#store-search {
  position: fixed;
  top: 51px;
  right: 19px;
}

#sorting {
  position: fixed;
  top: 49px;
  right: 432px;
}

#search-title {
  position: absolute;
  top: 132px;
  font-size: 30px;
}
