/* Fixed position in Store View */
#container-rated-newest {
  overflow: auto;
  position: absolute;
  margin-top: -88px;
}

#container-rated-newest .menu-offering {
  float:left;
}

#store-return {
  position: absolute;
  top: 51px;
  left: 238px;
}

#search-options {
  position: absolute;
  top: 83px;
  left: 103px;
}

.home-pg-title {
  position: relative;
  left: 50%;
  width: 150px;
  margin-left: -635px;
  font-size: 30px;
}

#top-rated-container {
  position: relative;
  left: 50%;
  width: 1270px;
  margin-left: -635px;
}

#top-rated-container .menu-offering:nth-child(5) {
  clear: left;
}

#newest-container {
  position: relative;
  left: 50%;
  width: 1270px;
  margin-left: -635px;
}

#newest-container .menu-offering:nth-child(5) {
  clear: left;
}


@media all and (max-width: 1380px) {
  .home-pg-title {
    margin-left: -485px;
  }

  #top-rated-container {
    width: 970px;
    margin-left: -485px;
  }

  #top-rated-container .menu-offering:nth-child(7) {
    display:none;
  }
  #top-rated-container .menu-offering:nth-child(8) {
    display:none;
  }
  #top-rated-container .menu-offering:nth-child(5) {
    clear: none;
  }

  #newest-container {
    width: 970px;
    margin-left: -485px;
  }
  #newest-container .menu-offering:nth-child(7) {
    display:none;
  }
  #newest-container .menu-offering:nth-child(8) {
    display:none;
  }
  #newest-container .menu-offering:nth-child(5) {
    clear: none;
  }
}

@media all and (max-width: 1084px) {
  .home-pg-title {
    margin-left: -323px;
  }

  #top-rated-container {
    width: 645px;
    margin-left: -323px;
  }

  #top-rated-container .menu-offering:nth-child(5) {
    display:none;
  }
  #top-rated-container .menu-offering:nth-child(6) {
    display:none;
  }
  #top-rated-container .menu-offering:nth-child(5) {
    clear: none;
  }

  #newest-container {
    width: 645px;
    margin-left: -323px;
  }

  #newest-container .menu-offering:nth-child(5) {
    display:none;
  }
  #newest-container .menu-offering:nth-child(6) {
    display:none;
  }
  #newest-container .menu-offering:nth-child(5) {
    clear: none;
  }
}

.menu-icon {
  width: 40px;
  height: 40px;
  margin-left: -25px;
}

#serv-icon {
  background-color: rgb(96, 193, 207);
}

#data-icon {
  background-color: rgb(255, 230, 22);
}

#widget-icon {
  background-color: rgb(0, 45, 103);
}

.store-menu span {
  float: left;
  position: relative;
  left: 15px;
  top: -40px;
  width: 165px;
  height: 40px;
  color: rgb(0, 45, 103);
  vertical-align: middle;
  line-height: 40px;
  font-size: 16px;
  text-indent: 10px;
}

#serv-text:hover {
  cursor:pointer;
  background-color: rgb(96, 193, 207);
  color: rgb(255,255,255);
}

#data-text:hover {
  cursor:pointer;
  background-color: rgb(255, 230, 22);
}

#widget-text:hover {
  cursor:pointer;
  background-color: rgb(0, 45, 103);
  color: rgb(255,255,255);
}

.store-menu {
  position: absolute;
  top: 22px;
}

.store-sub-menu {
  position: absolute;
  top: 160px;
}

.store-menu .icon-gears {
  font-size: 20px;
  position: relative;
  top: 9px;
  left: 7px;
  color: rgb(255,255,255);
}

.store-menu .icon-hdd {
  font-size: 22px;
  position: relative;
  top: -29px;
  left: 10px;
  color: rgb(0, 45, 103);
}

.store-menu .icon-puzzle-piece {
  font-size: 20px;
  position: relative;
  top: -29px;
  left: 10px;
  color: rgb(255,255,255);
}

.store-sub-menu li {
  position: relative;
  top: 0;
  left: -25px;
  float: left;
  white-space: nowrap;
  width: 205px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  text-indent: 10px;
}

.store-sub-menu li:hover {
  background-color: rgba(50, 51, 51, 0.15);
}

.store-sub-menu a {
  font-size: 15px;
  margin-left: 10px;
}

.store-sub-menu i {
  font-size: 18px;
  margin-left: -8px;
}

/* Fixed position in View All options in the store view */
.search-scroll-cont {
    overflow: auto;
    position: absolute;
    top: 180px;
    left: 0px;
    width: 100%;
}

.search-container {
  width: 1293px;
  position: absolute;
  left: 50%;
  margin-left: -647px;
}

/* Search components position depends on the window size */
@media all and (max-width: 1380px) {
  .search-container {
     width: 960px;
     margin-left: -480px;
  }
}

@media all and (max-width: 1093px) {
  .search-container {
     width: 640px;
     margin-left: -320px;
  }
}

#store-search {
  position: fixed;
  top: 51px;
  right: 19px;
}

#sorting {
  position: fixed;
  top: 49px;
  right: 432px;
}

#search-title {
  position: absolute;
  top: 132px;
  font-size: 30px;
}
