<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fi-ware header">


    <!-- Le styles -->

    <link href="{{ STATIC_URL }}oil/css/header/header.css" rel="stylesheet">
    
    <link href="{{ STATIC_URL }}oil/css/header_signed-in/header_signed-in.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}oil/css/icons&fonts/fonts/fonts.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}oil/css/icons&fonts/icons/icons.css" rel="stylesheet">

  </head>


  <body>
    <header id="oil-nav" class="navbar">
      <nav class="navbar-inner">

        <div class="logo-header">
          <a href="http://lab.fi-ware.eu/" class="logo-header">
            <img alt="FI-WARE" class="logo" src="{{ STATIC_URL }}oil/img/header-logo.png">
          </a>
          <a href="http://lab.fi-ware.eu/" class="brand">
            <span>FI-</span>WARE
          </a>
        </div>
        <div class="dropdown mobile visible_phone">
          <a href="#" class='dropdown-toggle' data-toggle="dropdown">
            <i class='arrow-down-settings'></i> 
          </a>
          <ul class="dropdown-menu dropdown-menu-header">
            <li class="cloud">
              <a href="http://cloud.lab.fi-ware.eu/">
                Cloud
              </a>
            </li>
            <li class="active">
              <a href="http://store.lab.fi-ware.eu/">
                Store
              </a>
            </li>
            <li class="wirecloud">
              <a href="http://mashup.lab.fi-ware.eu/">
                Mashup
              </a>
            </li>
            <li class="idm">
              <a href="https://account.lab.fi-ware.eu/">
                Account
              </a>
            </li>
            <li class="info">
              <a href="http://lab.fi-ware.eu/">
                Help&amp;info
              </a>
            </li>
          </ul>
        </div>

        <ul class="oil-portal hidden-phone">
          <li class="cloud">
            <a href="http://cloud.lab.fi-ware.eu/">
              Cloud
            </a>
          </li>
          <li class="store active">
            <a href="http://store.lab.fi-ware.eu/">
              Store
            </a>
          </li>
          <li class="wirecloud">
            <a href="http://mashup.lab.fi-ware.eu/">
              Mashup
            </a>
          </li>
          <li class="idm">
            <a href="https://account.lab.fi-ware.eu/">
              Account
            </a>
          </li>
          <li class="help-info">
              <a href="http://lab.fi-ware.eu/">
                Help&amp;info
              </a>
            </li>
        </ul>

        <ul class="nav pull-right">
          <li>
            <a href="#">
              <img class="oil-usr-icon" src="{{ STATIC_URL }}oil/img/user.png">
              <span id="oil-usr" class="name">{{ user.userprofile.complete_name }}</span>
            </a>
          </li>
                
          <li class="dropdown">

            <a href="#" class='dropdown-toggle' data-toggle="dropdown">
              <i class='arrow-down-settings'></i> 
            </a>

            <ul class="dropdown-menu"  id="settings-menu">
              <li class="settings-menu">
                <a id="conf-link">
                  Settings
                </a>
              </li>

              <li class="divider">
              </li>
              <li>
                <a href="#" onclick="Fiware.signOut('store'); return false">
                  Sign Out
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
